<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body style="background: #007bff; background: linear-gradient(to right, #0062E6, #33AEFF);">
<div th:include="fragments/commons :: linkBootstrap"></div>

<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h2 class="card-title text-center mb-5 fw-light fs-5"><strong>LinkDev</strong> - Cadastro Usuário</h2>
                    <form method="post" th:object="${user}" th:action="@{/save}" enctype="multipart/form-data">
                        Tipo * : <input class="form-control" type="text" th:field="*{tipoUser}" minlength="3" required> <br/>
                        <p th:if="${#fields.hasErrors('tipoUser')}" th:errors="*{tipoUser}" th:required="required"></p>
                        Nome de usuário * : <input class="form-control" type="text" th:field="*{username}" minlength="3" required> <br/>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:required="required"></p>
                        Senha * : <input class="form-control" type="password" id="password" pattern="^(?=.*\d).{4,8}$"  th:field="*{password}" placeholder="4-8 caracter" required> <br/>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:required="required"></p>
                        Confirmar senha * : <input class="form-control" type="password" id="confirm_password" required> <br/>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-login text-uppercase fw-bold" >ENVIAR</button>
                        </div>
                        <hr class="my-4">
                        <a class="d-block text-center mt-2 small text-center" href="/login">Já possui conta ? Faça login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="fragments/commons :: foot"></div>

<script>
    let password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Senhas diferentes!");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    let email = document.getElementById("email");
    let emailBD = ["teste@gmail.com"]
    let flag = true;
    console.log("começou")
    function validateEmail(){
        for(let i=0; i < emailBD.length; i++){
            if(email.value === emailBD[i]){
                email.setCustomValidity("Email já cadastrado")
                flag = false
                console.log("igual")
                break
            }else{
                email.setCustomValidity('');
            }
            if(flag === true){
                emailBD.push(email.value)
                console.log("diferente")
            }
        }
        flag = true
    }
    email.onchange = validatePassword;
    email.onkeyup = validatePassword;
    console.log("saiu")
</script>
</html>